<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    
    <h1><%=title%></h1>

    <div class="form-card">
        <form id="getProduct-form" class="product-form">
            <label for="idProd">ID del Producto</label>
            <input type="number" name="idProd" id="idProd" required placeholder="Ingrese ID...">

            <input type="submit" value="Buscar para Modificar" class="btn-form">
        </form>
    </div>

    <div class="product-container">
        <div id="product-list" class="products"></div>
        <section id="updateFormContainer"></section>
    </div>

</main>

<script src="../js/modificar.js"></script>

<%- include("partials/footer.ejs") %>