@import "./navbar.css";

:root {
  --bg-body: #111827;
  --bg-surface: #1f2937;
  --bg-surface-hover: #374151;
  --text-main: #f9fafb;
  --text-muted: #9ca3af;
  --primary: #6366f1;
  --primary-hover: #4f46e5;
  --danger: #ef4444;
  --success: #10b981;
  --border: #374151;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--text-main);
  font-family: "Inter", system-ui, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100%;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: var(--text-main);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary);
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 2rem 0;
}

.btn,
button {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.btn:hover,
button:hover {
  background-color: var(--primary-hover);
  cursor:pointer
}

.btn-form {
  background-color: #481baa;
  color: white;
  border-radius: 6px;
  padding: 0.7rem;
  font-weight: bold;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

::-webkit-scrollbar{
  background-color: var(--bg-surface);
  width: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  border-radius: var(--radius);
}
